*{margin: 0;padding: 0;}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(3, 86, 163);
    height: 100vh; overflow: hidden;
}
#mas{
    color:rgb(240, 193, 40);
    font-family: cursive;
    font-size: 1.4em;
}
#left:hover{
    width:146px;
}
header{
    width: 100%;
    padding:17px 10px;
    color: rgb(229, 235, 230);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
.wrap{
    width:550px;
    margin: auto;
    margin-top:2.4rem;
}
.loader{
    width:98%;
    margin: 0 auto;
    margin-bottom: 7px;
    background: rgba(0,0,0,0.3);
    border-radius: 30px;
    height: 25px;
}
#loadpara{
    position: relative;
    left:33%;
    top:25px;
    padding:12px 27px;
    border:none;
    background-color: rgb(245, 203, 14);
    color:#222;
    border-radius: 9px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.5s all; outline: none;
    box-shadow: 2px 6px 6px rgba(0,0,0,0.3);
} 
#loadpara:hover{
    background-color: rgb(23, 219, 56);
}
.box{
    width:80%;
    margin: auto;
    color:red;
    text-align: center;
    padding:25px 0;
    border-radius: 15px;
    background:#333;
    box-shadow: 1px 8px 7px rgba(0,0,0,0.5);
}
.popup{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    font-family: monospace;
    font-size: 2.2rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    display: none;
}
.mover{
    width:5%;
    position: relative;
    height: 100%;
    background:rgb(59, 211, 203);
    border-radius: 30px;
    transition:1.5s all ease-out;
}
.para{
    background:rgb(56, 131, 160);
    font-size: 1.5rem;
    padding:18px;
    border:3px solid rgb(1, 6, 7);
    box-shadow: 2px 5px 5px rgba(0,0,0,0.6);
    display: flex;
    border-radius: 7px;
    flex-wrap: wrap;
}
.alert{
    transition: 1s transform;
    background: green;
    transform: scale(1.2);
}
.alertRed{
    transition: 1s transform;
    background: red;
    transform: scale(1.2);
}
.text{
    margin-left: 6px;
}
.userinput{
    width: 97%;
    margin-top:15px;
    display: flex;
}
input{
    box-shadow: 2px 5px 5px rgba(0,0,0,0.6);
    outline:none;
    color:black;
    background-color: rgb(242, 244, 247);
    border:3px solid white;
    border-radius: 5px;
    padding:10px;
    width: 64%;
    font-size: 2rem;
    
}
.tickdown{
    font-size: 3.4em;
    font-family: monospace;
    top:5px;
    color:greenyellow;
    position: relative;
    margin-left: auto;
}